{% extends "base.html" %}

{% block title %}Titulo{% endblock %}

{% block content %}
	<h1>{{request.path}}</h1>
	{% if latest_list %}
		<table>
			<tr>
				<th>Fecha de inicio</th>
				<th>Fecha de término</th>
				<th>Venta total</th>
			</tr>
			{% for object in latest_list %}
				<tr>
					<td><a href="read/{{object.id}}">{{object.fecha_start}}</a></td>
					<td><a href="read/{{object.id}}">{{object.fecha_end}}</a></td>
					<td><a href="read/{{object.id}}">${{object.total}}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No hay {{request.path}} en la base de datos.</p>
	{% endif %}
{% endblock %}