{% extends "base.html" %}

{% block title %}{{ request.path }}{% endblock %}
{% block content %}
	<h1>Reporte</h1>
	{% if reporte %}
		<h2>Ventas hasta el momento</h2>
		<table>
			<tr>
				<th>Cliente</th>
				<th>Fecha</th>
				<th>Total</th>
			</tr>
			{% for object in latest_list %}
				<tr>
					<td><a href="/ventas/update/{{object.id}}">{{object.venta.cliente}}</a></td>
					<td><a href="/ventas/update/{{object.id}}">{{object.venta.fecha}}</a></td>
					<td><a href="/ventas/update/{{object.id}}">${{object.venta.total}}</a></td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td style="text-align:right">${{reporte.total}}</td>
			</tr>
		</table>
	{% else %}
	{% endif %}
{% endblock %}
