{% extends "base.html" %}

{% block title %}Titulo{% endblock %}
{% block content %}
	<h1>Titulo</h1>
	<form action="{{request.path}}" method="post" >
		{% csrf_token %}
		{{form.as_ul}}
		<br>
		<input style="float:right; margin-right:20px;" type="submit" value="Guardar">
		<div class="cleared"></div>
	</form>

	<br>
	<br>

	<h1>Productos</h1>
	<input style="float:right; margin-right:20px;"  type="button" value="Agregar" onclick="location.href='{{request.path}}productos/create'">
	<div class="cleared"></div>
	{% if latest_list %}
			<table>
				<tr>
					<th>Producto</th>
					<th>Precio</th>
				</tr>
			{% for object in latest_list %}
				<tr>
					<td><a href="productos/update/{{object.id}}">{{object.producto}}</a></td>
					<td><a href="productos/update/{{object.id}}">{{object.precio}}</a></td>
				</tr>
			{% endfor %}
			</table>
	{% else %}
		<p style="text-align:center;" >No hay {{request.path}} en la base de datos.</p>
	{% endif %}
{% endblock %}