<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="/media/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div style="width:960px;" class="centeredOut">
		<div style="height:2em; background-color:#19191A;" class="bRadious1 shadowed">
			<style type="text/css">
				#menu li{
					float: right;
					list-style-type: none;
					border-left:1px solid #333;
					padding: 0 1em 0 1em;
					letter-spacing:-1px;
					line-height:2em;
					text-transform:uppercase;
				}
				#menu li a{
					color: #1AABCF;
				}
				#menu li a:hover{
					color: #1c7e94;
					text-decoration:none;
				}
				.button{
					
				}
			</style>
			<ul id="menu">
				<li><a class='button' href="/clientes">Clientes</a></li>
				<li><a class='button' href="/productos">Productos</a></li>
				<li><a class='button' href="/ventas">Ventas</a></li>
				<li><a class='button' href="/devoluciones">Devoluciones</a></li>
				<li><a class='button' href="/caja">Caja</a></li>
				<li><a class='button' href="/reportes">Reportes</a></li>
				<li><a class='button' href="/almacen">Almacen</a></li>
				<li><a class='button' href="/apartado">Apartado</a></li>
				<div class="cleared"></div>
			</ul>
		</div>
		<div id="content" style="margin-top:2em; background-color:#19191A; border:3px solid #C0C0C8; color:white; padding-bottom:30px;" class=" bRadious2 shadowed"  >
	        {% block content %}{% endblock %}
	    </div>
    </div>
</body>
</html>